{% from 'MopaBootstrapBundle::flash.html.twig' import session_flash %}
{% import 'ImaticViewBundle:Component:menu.html.twig' as menu %}
{% spaceless %}
    <!DOCTYPE html>

    <html>
    <head>
        <meta charset="UTF-8"/>

        {% block stylesheets %}
            {% stylesheets
            'css/less/style.less'
            output='css/compiled/style.css' %}
            <link rel="stylesheet" href="{{ asset_url }}" media=" screen" type="text/css">
            {% endstylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% javascripts
            'components/jquery/jquery.js'
            'components/jquery-ui/jquery-ui.js'
            'components/jquery-ui/i18n/jquery-ui-i18n.js'
            'components/bootstrap/js/bootstrap-affix.js'
            'components/bootstrap/js/bootstrap-transition.js'
            'components/bootstrap/js/bootstrap-modal.js'
            'components/bootstrap/js/bootstrap-dropdown.js'
            'components/bootstrap/js/bootstrap-scrollspy.js'
            'components/bootstrap/js/bootstrap-tab.js'
            'components/bootstrap/js/bootstrap-tooltip.js'
            'components/bootstrap/js/bootstrap-popover.js'
            'components/bootstrap/js/bootstrap-alert.js'
            'components/bootstrap/js/bootstrap-button.js'
            'components/bootstrap/js/bootstrap-collapse.js'
            'components/bootstrap/js/bootstrap-carousel.js'
            'components/bootstrap/js/bootstrap-typeahead.js'
            output='js/compiled/javascript.js' %}
            <script src="{{ asset_url }}" type="text/javascript"></script>
            {% endjavascripts %}
        {% endblock %}

        <title>{% block title %}{{ block('headline') }} - {{ application.name }}{% endblock title %}</title>

        {% block metas %}
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% endblock %}

        {% block icons %}
            <link rel="shortcut icon" href="{{ asset('ico/favicon.ico') }}"/>
            <link rel="apple-touch-icon-precomposed" sizes="144x144"
                  href="{{ asset('ico/apple-touch-icon-144-precomposed.png') }}">
            <link rel="apple-touch-icon-precomposed" sizes="114x114"
                  href="{{ asset('ico/apple-touch-icon-114-precomposed.png') }}">
            <link rel="apple-touch-icon-precomposed" sizes="72x72"
                  href="{{ asset('ico/apple-touch-icon-72-precomposed.png') }}">
            <link rel="apple-touch-icon-precomposed" href="{{ asset('ico/apple-touch-icon-57-precomposed.png') }}">
        {% endblock %}

    </head>

    {% block body_tag %}
    <body data-spy="scroll">
    {% endblock body_tag %}

    {% block body %}
        <header>
            {% block header %}
                <div class="navbar navbar-inverse navbar-static-top">
                    <div class="navbar-inner">
                        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </a>
                        <a class="brand" href="#">{{ application.name }}</a>

                        <div class="nav-collapse collapse">
                            {{ menu.menu('imatic.main') }}
                            {{ menu.menu('imatic.main_side', null, null, { 'class': 'pull-right' }) }}
                        </div>
                    </div>
                </div>
            {% endblock %}

            <div class="headline">
                <div class="container-fluid">
                    <div class="pull-right">{% block headline_side %}{% block page_actions %}{% endblock %}{% endblock %}</div>
                    <h1>{% block headline %}{{ application.name }}{% endblock %}</h1>
                </div>
            </div>
        </header>

        <div class="container-fluid content">
            {% block container %}
                {#{% block breadcrumbs %}#}
                {#{% endblock %}#}

                {% block flashes %}
                    {% if app.session.flashbag.peekAll|length > 0 %}
                        {{ session_flash() }}
                    {% endif %}
                {% endblock %}

                <div class="row-fluid">
                    {% set sidebar = block('sidebar') %}
                    {% if sidebar|default(false) %}
                        <div class="span3">
                            {{ sidebar|raw }}
                        </div>
                    {% endif %}

                    <div class="span{{ sidebar|default(false) ? 9 : 12 }}">
                        {% block action %}
                        {% endblock %}
                    </div>
                </div>

            {% endblock %}
        </div>

        <footer class="container-fluid">
            <div class="footer-content">
                {% block footer %}
                    Imatic Software, s.r.o.
                {% endblock %}
            </div>
        </footer>

    {% endblock %}
    </body>
    </html>
{% endspaceless %}
