{% import 'ImaticViewBundle:Component:menu.html.twig' as menu %}
{% import 'ImaticViewBundle:Component:button.html.twig' as button %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    {% block stylesheets %}
        {%- stylesheets
        'bundles/imaticview/less/style.less'
        'vendor/select2/select2.css'
        'bundles/imaticview/css/demo/ajaxify/ajaxify.css'
        output='css/style.css' -%}
        <link rel="stylesheet" href="{{ asset_url }}" media="screen" type="text/css">
        {% endstylesheets %}
    {% endblock %}

    {% block javascripts %}
        {% javascripts
        'vendor/jquery/jquery.js'
        'vendor/bootstrap-3-datepicker/js/bootstrap-datepicker.js'
        'vendor/bootstrap-3-datepicker/js/locales/bootstrap-datepicker.cs.js'
        'vendor/bootstrap/js/affix.js'
        'vendor/bootstrap/js/alert.js'
        'vendor/bootstrap/js/button.js'
        'vendor/bootstrap/js/carousel.js'
        'vendor/bootstrap/js/collapse.js'
        'vendor/bootstrap/js/dropdown.js'
        'vendor/bootstrap/js/modal.js'
        'vendor/bootstrap/js/tooltip.js'
        'vendor/bootstrap/js/popover.js'
        'vendor/bootstrap/js/scrollspy.js'
        'vendor/bootstrap/js/tab.js'
        'vendor/bootstrap/js/transition.js'
        'vendor/select2/select2.js'
        'bundles/imaticview/ts/ajaxify/init.ts'
        output='js/javascript.js' %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
        {% endjavascripts %}
    {% endblock %}

    <title>{% block title_top %}{% spaceless %}
            {% block title %}{{ block('headline') }}{% endblock %}
            {% endspaceless %} - {% spaceless %}
            {% block application_name %}Imatic IS{% endblock %}
        {% endspaceless %}{% endblock %}</title>

    {% block metas -%}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock %}

    {% block icons -%}
    {% endblock %}
</head>

<body>

{% block body %}

    {% block header_full %}
        <header>
            {% block header %}
                <div class="navbar navbar-inverse navbar-static-top" role="navigation">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button"
                                    class="navbar-toggle"
                                    data-toggle="collapse"
                                    data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            {% block header_logo %}
                                <a class="navbar-brand" href="{{ path('homepage') }}">
                                    {% block header_brand %}{{ block('application_name') }}{% endblock %}
                                </a>
                            {% endblock %}
                        </div>

                        <div class="collapse navbar-collapse">
                            <div class="nav-collapse">
                                {% block header_menu %}
                                    {{ menu.menu('imatic.main') }}
                                    {{ menu.menu('imatic.main_side', null, null, { 'class': 'navbar-right' }) }}
                                {% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endblock %}

            <div class="headline">
                <div class="container-fluid">
                    <div class="pull-right">{% block headline_side %}{% block page_actions %}{{ button.group(page_actions|default([])) }}{% endblock %}{% endblock %}</div>
                    <h1>{% spaceless %}{% block headline %}{{ block('application_name') }}{% endblock %}{% endspaceless %}</h1>

                    {% block breadcrumbs %}
                    {% endblock %}
                </div>
            </div>
        </header>
    {% endblock %}

    <div class="container-fluid">
        {% block action %}{% endblock %}
    </div>

{% endblock %}

</body>
</html>
