{% from 'ImaticViewBundle:Component:flash.html.twig' import session_message %}
{% import 'ImaticViewBundle:Component:menu.html.twig' as menu %}
{% block page %}
<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">

    {% block stylesheets %}
        {%- stylesheets
        'bundles/imaticview/less/style.less'
        'vendor/jquery-ui/themes/flick/jquery-ui.css'
        'vendor/select2/select2.css'
        output='css/style.css' -%}
        <link rel="stylesheet" href="{{ asset_url }}" media="screen" type="text/css">
        {% endstylesheets %}
    {% endblock %}

    {% block javascripts %}
        {% javascripts
        'vendor/jquery/jquery.js'
        'vendor/jquery-ui/ui/jquery-ui.js'
        'vendor/jquery-ui/ui/i18n/jquery-ui-i18n.js'
        'vendor/bootstrap/js/bootstrap-affix.js'
        'vendor/bootstrap/js/bootstrap-transition.js'
        'vendor/bootstrap/js/bootstrap-modal.js'
        'vendor/bootstrap/js/bootstrap-dropdown.js'
        'vendor/bootstrap/js/bootstrap-scrollspy.js'
        'vendor/bootstrap/js/bootstrap-tab.js'
        'vendor/bootstrap/js/bootstrap-tooltip.js'
        'vendor/bootstrap/js/bootstrap-popover.js'
        'vendor/bootstrap/js/bootstrap-alert.js'
        'vendor/bootstrap/js/bootstrap-button.js'
        'vendor/bootstrap/js/bootstrap-collapse.js'
        'vendor/bootstrap/js/bootstrap-carousel.js'
        'vendor/bootstrap/js/bootstrap-typeahead.js'
        'vendor/select2/select2.js'
        output='js/javascript.js' %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
        {% endjavascripts %}
    {% endblock %}

    <title>{% block title_top %}{% block title %}{% spaceless %}{{ block('headline') }}{% endspaceless %} - {{ application.name }}{% endblock %}{% endblock %}</title>

    {% block metas -%}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock %}

    {% block icons -%}
    <link rel="shortcut icon" href="{{ asset('ico/favicon.ico') }}">
    {% endblock %}

</head>

{% block body_tag %}
<body data-spy="scroll">
{% endblock %}

{% block body %}
    {% block header_full %}
        <header>
            {% block header %}

                <nav class="navbar navbar-inverse navbar-static-top">
                    <div class="navbar-inner">
                        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </a>
                        {% block header_logo %}
                            <a class="brand" href="{{ path('homepage') }}">{{ application.name }}</a>
                        {% endblock %}
                        <div class="nav-collapse collapse">
                            {{ menu.menu('imatic.main') }}
                            {{ menu.menu('imatic.main_side', null, null, { 'class': 'pull-right' }) }}
                        </div>
                    </div>
                </nav>

            {% endblock %}

            <div class="headline">
                <div class="container-fluid">
                    <div class="pull-right">{% block headline_side %}{% block page_actions %}{% endblock %}{% endblock %}</div>
                    <h1>{% spaceless %}{% block headline %}{{ application.name }}{% endblock %}{% endspaceless %}</h1>

                    {% block breadcrumbs %}
                    {% endblock %}
                </div>
            </div>
        </header>
    {% endblock %}

    {% block container_full %}
        <div class="container-fluid content">
            {% block container %}

                {% block flashes %}
                    {{ session_message() }}
                {% endblock %}

                <div class="row-fluid">
                    {% set sidebar = block('sidebar') %}
                    {% if sidebar|default(false) %}
                        <div class="span{{ imatic_view_config_get('sidebar.grid_columns') }}">
                            {{ sidebar|raw }}
                        </div>
                    {% endif %}

                    <div class="span{{ sidebar|default(false) ?
                    imatic_view_config_get('layout.grid_columns') - imatic_view_config_get('sidebar.grid_columns') :
                    imatic_view_config_get('layout.grid_columns') }}">
                        {% block action %}
                        {% endblock %}
                    </div>
                </div>

            {% endblock %}
        </div>
    {% endblock %}

    {% block footer_full %}
        <footer class="container-fluid">
            <div class="footer-content">
                {% block footer %}
                    <a href="http://www.imatic.cz" title="{{ 'Copyright' | trans({}, 'ImaticViewBundle') }}">
                        {{ 'Copyright' | trans({}, 'ImaticViewBundle') }}
                    </a>
                {% endblock %}
            </div>
        </footer>
    {% endblock %}

{% endblock %}

</body>
</html>

{% endblock %}
