{% extends 'ImaticViewBundle:Demo/Ajaxify:layout.html.twig' %}

{% block action %}

    <div class="container">

        <h2>AJAXIFY Component</h2>

        <p>
            The AJAXIFY component is a javascript solution that provides simple
            way to convert existing HTML markup into XHR driven components.
        </p>


        <!-- contents -->
        <h3>Contents</h3>

        <ol>
            <li><a href="#containers">Containers</a></li>
            <li><a href="#widgets">Widgets</a>
                <ol>
                    <li><a href="#link">Link</a></li>
                    <li><a href="#form">Form</a></li>
                </ol>
            </li>
            <li><a href="#modals">Modal dialogs</a></li>
            <li><a href="#flashes">Flash messages</a></li>
            <li><a href="#void">Void containers</a></li>
            <li><a href="#history">Browser history</a></li>
            <li><a href="#css">CSS classes</a></li>
            <li><a href="#request-strings">Request strings</a></li>
        </ol>


        <hr>


        <!-- containers -->
        <h3 id="containers">Containers</h3>

        <p>
            Containers are elements that are affected by actions coming from
            widgets. Any element that has the <code>data-role="container"</code>
            attribute specified is considered a container.
        </p>

        {% example %}
        <div data-role="container">
            I am a container
        </div>
        {% endexample %}

        <h4>Supported attributes</h4>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Attribute</th>
                    <th>Meaning</th>
                    <th>Possible values</th>
                    <th>Default</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><code>data-history</code></td>
                    <td>enable <a href="#history">browser history</a> for this container</td>
                    <td>true or false</td>
                    <td>false</td>
                </tr>
                <tr>
                    <td><code>data-initial</code></td>
                    <td>
                        <ul>
                            <li>defines the initial request (a request string that loads initial state of the container)</li>
                            <li>used by history and the <code>@current</code> request string keyword</li>
                        </ul>
                    </td>
                    <td><a href="#request-strings">a request string</a></td>
                    <td>current URL as a GET request</td>
                </tr>
            </tbody>
        </table>


        <hr>


        <!-- widgets -->
        <h3 id="widgets">Widgets</h3>

        <p>
            Widgets are plain HTML elements that generate actions. These actions
            are caught and processed in the context of the element's container.
        </p>

        <ul>
            <li><a href="#link">Link</a></li>
            <li><a href="#form">Form</a></li>
        </ul>

        <h4>Determining the container</h4>

        <p>
            Containers are infered from the element's DOM context if the container
            is one of the element's parents. Container may be explicitly set using
            the<code>data-target</code> attribute (see below).
        </p>

        <div class="alert alert-info">
            <p>
                If a widget is not inside, does not target or targets a non-existent
                container, it behaves as normal (e.g. a link will just load the specified
                URL as normal links do).
            </p>
        </div>

        <h4>Supported attributes</h4>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Attribute</th>
                    <th>Meaning</th>
                    <th>Possible values</th>
                    <th>Default</th>
                    <th>Example</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><code>data-target</code></td>
                    <td>specifies the container</td>
                    <td>
                        <table class="table table-condensed table-bordered table-striped">
                            <tbody>
                                <tr>
                                    <th>. (a dot) or empty</th>
                                    <td>auto-determined from DOM context (parent)</td>
                                </tr>
                                <tr>
                                    <th>modal</th>
                                    <td><a href="#modals">modal dialog</a></td>
                                </tr>
                                <tr>
                                    <th>void</th>
                                    <td><a href="#void">void container</a></td>
                                </tr>
                                <tr>
                                    <th>a selector</th>
                                    <td>targeted container element</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td>empty</td>
                    <td>#my-container</td>
                </tr>
                <tr>
                    <td><code>data-ajaxify</code></td>
                    <td>toggle XHR functionality of the widget</td>
                    <td>true or false</td>
                    <td>true</td>
                    <td>false</td>
                </tr>
            </tbody>
        </table>


        <hr>


        <!-- link -->
        <h3 id="link">Link</h3>

        <p>
            All <code>&lt;a&gt;</code> and <code>&lt;button&gt;</code> tags are
            considered to be instances of the Link widget.
        </p>

        <p>
            Links that are inside (or target) a container will load HTML contents
            into that container when activated (clicked).
        </p>


        {% example %}
            <div data-role="container">
                <a href="{{ path('imatic_view_demo_ajaxify_ajaxtest') }}">I am a link widget :)</a>
            </div>    
        {% endexample %}


        <p>
            As noted in the <a href="#widgets">widgets section</a>, any widget
            can live outside of its container and specify it using the
            <code>data-target</code> attribute.
        </p>
 
        {% example %}
            <a
                href="{{ path('imatic_view_demo_ajaxify_ajaxtest') }}"
                data-target="#link-example2-container"
            >
                I am a link widget outside of its container :)
            </a>

            <div id="link-example2-container" data-role="container">
                I am the container
            </div>
        {% endexample %}


        <h4>Supported attributes</h4>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Attribute</th>
                    <th>Meaning</th>
                    <th>Default</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><code>href</code> or <code>data-href</code></td>
                    <td>the URL to load</td>
                    <td>/example.html</td>
                </tr>
                <tr>
                    <td><code>data-method</code></td>
                    <td>HTTP method to use</td>
                    <td>GET</td>
                </tr>
                <tr>
                    <td><code>data-confirm</code></td>
                    <td>confirmation text before the action (<code>true</code> for default message)</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td><code>data-target</code></td>
                    <td>specifies the container</td>
                    <td><a href="#widgets">see widgets</a></td>
                </tr>
                <tr>
                    <td><code>data-content-selector</code></td>
                    <td>response content selector</td>
                    <td>container's ID if any</td>
                </tr>
            </tbody>
        </table>


        <hr>


        <!-- form -->
        <h3 id="form">Form</h3>

        <p>All <code>&lt;form&gt;</code> tags are considered to be instances of the Form widget.</p>

        <p>
            Forms that are inside (or target) a container will be submitted using XHR and the resulting
            HTML contents will be loaded into that container.
        </p>

        {% example %}
            <form action="{{ path('imatic_view_demo_ajaxify_formtest') }}" method="post" data-target="#demo-form-result">
                Your name: <input type="text" name="name" value="Bob" required>
                <input type="submit" name="a" value="Submit A">
                <button type="submit" name="b">Submit B</button>
            </form>

            <hr>
            <div data-role="container" id="demo-form-result"></div>
        {% endexample %}


        <h4>Submit buttons</h4>
        
        <ul>
            <li>Used submit button's name is included in the request data.</li>
            <li>The <code>formmethod</code> and <code>formaction</code> attributes are supported.</li>
        </ul>


        <h4>Supported attributes</h4>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Attribute</th>
                    <th>Meaning</th>
                    <th>Default</th>
                    <th>Example</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><code>action</code></td>
                    <td>submission URL</td>
                    <td>the current page</td>
                    <td>/example.html</td>
                </tr>
                <tr>
                    <td><code>method</code></td>
                    <td>HTTP method</td>
                    <td>GET</td>
                    <td>POST</td>
                </tr>
                <tr>
                    <td><code>data-target</code></td>
                    <td>specifies the container</td>
                    <td colspan="2"><a href="#widgets">see widgets</a></td>
                </tr>
                <tr>
                    <td><code>data-confirm</code></td>
                    <td>confirmation text before the action (<code>true</code> for default message)</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td><code>data-content-selector</code></td>
                    <td>response content selector</td>
                    <td>-</td>
                    <td>container's ID if any</td>
                </tr>
            </tbody>
        </table>


        <hr>


        <!-- modals -->
        <h3 id="modals">Modal dialogs</h3>

        <p>
            Setting the <code>data-target</code> attribute of a widget
            to <code>modal</code> causes the result to be opened
            in a modal dialog.
        </p>

        <h4>Behaviour</h4>
        <ul>
            <li>
                All widget and container functionality is available inside
                modals as well.
            </li>
            <li>
                The modal dialog acts as a parent container for its contents.
                Any widgets that are not contained in / targeted into another
                container will be targeted into the modal dialog.
            </li>
            <li>
                If a form submission action takes place in the modal's container
                and the response code is 200, the dialog will close itself.
            </li>
        </ul>


        {% example %}
            <a
                href="{{ path('imatic_view_demo_ajaxify_modaltest') }}"
                data-target="modal"
                data-modal-title="h2"
            >
                Modal link
            </a>
        {% endexample %}


        <h4>Modal configuration</h4>

        <p>
            The modal options can be set on the widget, container or the document's
            body element. All options are cascaded together. The order
            of priority is: widget > container > document's body element.
        </p>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Attribute</th>
                    <th>Meaning</th>
                    <th>Possible values</th>
                    <th>Default</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><code>data-modal-size</code></td>
                    <td>defines size of the modal</td>
                    <td>small, normal, large or max</td>
                    <td>normal</td>
                </tr>
                <tr>
                    <td><code>data-modal-closable</code></td>
                    <td>close the modal on ESC key / button / backdrop click</td>
                    <td>true or false</td>
                    <td>true</td>
                </tr>
                <tr>
                    <td><code>data-modal-title</code></td>
                    <td>selector for element in the response to use as title (text contents)</td>
                    <td>selector or <code>none</code> to disable</td>
                    <td>the <code>X-Title</code> response header</td>
                </tr>
                <tr>
                    <td><code>data-modal-footer</code></td>
                    <td>selector for element in the response to use as footer (contents)</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td><code>data-modal-on-close</code></td>
                    <td>perform a request when the modal is closed</td>
                    <td><a href="#request-strings">a request string</a></td>
                    <td>-</td>
                </tr>
                <tr>
                    <td><code>data-modal-close-on-form-success</code></td>
                    <td>close the modal when a form is successfully submitted into it's container</td>
                    <td>true / false</td>
                    <td>true</td>
                </tr>
                <tr>
                    <td><code>data-modal-forward-form-response</code></td>
                    <td>
                        <p>forward successful form response that was submitted into the modal's container</p>
                        <ul>
                            <li>the action is triggered in the original widget's context</li>
                            <li>the action is trigered after the modal is closed</li>
                            <li>the action is surpressesed by <code>data-modal-on-close</code></li>
                        </ul>
                    </td>
                    <td>true / false</td>
                    <td>true</td>
                </tr>
            </tbody>
        </table>


        <hr>


        <!-- flashes -->
        <h3 id="flashes">Flash messages</h3>

        <p>
            If the request is done via XHR, flash messages are handled server-side
            and returned as a HTTP header <code>X-Flash-Messages</code>.
        </p>


        <h4>Displaying flash messages</h4>

        <p>
            Each container implementation is responsible for handling of the received
            flash messages.
        </p>

        <p>
            By default, the flash messages are displayed inside a modal dialog.
        </p>

        {% example %}
            <a
                href="{{ path('imatic_view_demo_ajaxify_flashestest') }}"
                data-target="void"
            >
                Click me
            </a>
        {% endexample %}


        <hr>


        <!-- void -->
        <h3 id="void">Void containers</h3>

        <p>
            Void containers are used by setting the <code>data-target</code> attribute
            of a <a href="#widgets">widget</a> to <code>void</code>. Void containers do
            not exist as DOM elements in the page and thus do not display the response contents.
        </p>

        <p>
            Void containers are useful in cases when you wish to perform a background action
            but do not want reload a physical container in the page.
        </p>

        <div class="alert alert-info">
            <p>
                Flash messages are still displayed for void containers.
            </p>
        </div>

        <h3>Example</h3>

        <p>
            The example in the <a href="#flashes">flash messages</a> section makes use
            of a void container.
        </p>


        <hr>


        <!-- history -->
        <h3 id="history">Browser history</h3>

        <p>
            Containers will affect browser history if all of the following conditions are met:
        </p>

        <ul>
            <li>the container has an <code>id</code> attribute</li>
            <li>the <code>data-history</code> attribute is set to <code>true</code></li>
            <li><a href="https://github.com/browserstate/history.js">History.js</a> is available</li>
        </ul>

        <p>
            See <a href="#containers">supported attributes in the Containers section</a>.
        </p>


        <div class="alert alert-warning">
            <p>
                Warning! Anchors may interfere with correct behaviour. See <a href="https://github.com/browserstate/history.js/issues/276">https://github.com/browserstate/history.js/issues/276</a>.
            </p>
        </div>

        
        {% example %}
        <div id="history-example" data-role="container" data-history="true">
            <a href="{{ path('imatic_view_demo_ajaxify_index_1', {counter: next_counter_value}) }}">Click me</a>
            <p>{{ current_counter_value }}</p>
        </div>
        {% endexample %}


        <hr>


        <!-- css -->
        <h3 id="css">CSS classes</h3>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Class</th>
                    <th>Meaning</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><code>imatic-view-ajaxify-busy</code></td>
                    <td>Container or a widget that is currently performing an action.</td>
                </tr>
                <tr>
                    <td><code>imatic-view-ajaxify-container</code></td>
                    <td>Element holding a Container instance. Useful in conjunction with <code>imatic-view-ajaxify-busy</code>.</td>
                </tr>
                <tr>
                    <td><code>imatic-view-ajaxify-widget</code></td>
                    <td>Element holding a Widget instance. Useful in conjunction with <code>imatic-view-ajaxify-busy</code>.</td>
                </tr>
            </tbody>
        </table>


        <hr>


        <!-- request strings -->
        <h3 id="request-strings">Request strings</h3>

        <p>
            Some options have the form of a &quot;request string&quot;. Abstract
            definition of the format is:
        </p>

        <p>
            <code>method</code>
            <code>URL</code>;
            <code>content-selector</code>
        </p>

        <p>
            All of the segments are optional and have default values.
        </p>
        
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Segment</th>
                    <th>Meaning</th>
                    <th>Default</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><code>method</code></td>
                    <td>the request method (POST, GET, ...)</td>
                    <td>GET</td>
                </tr>
                <tr>
                    <td><code>URL</code></td>
                    <td>
                        <p>the URL to load</p>
                        <ul>
                            <li>
                                <p>empty string or the <code>@page</code> keyword (= current document URL)</p>
                            </li>
                            <li>
                                <p>the <code>@current</code> keyword</p>
                                <ul>
                                    <li>copies the target container's current request URL</li>
                                    <li>other parts of the request string are left intact</li>
                                </ul>
                            </li>
                            <li>
                                <p>the <code>@reload</code> keyword</p>
                                <ul>
                                    <li>repeats the target container's current request</li>
                                    <li>the request is copied, even the method and data</li>
                                    <li>all parts of the request string are discarded</li>
                                </ul>

                            </li>
                        </ul>
                    </td>
                    <td>@page</td>
                </tr>
                <tr>
                    <td><code>content-selector</code></td>
                    <td>response content selector</td>
                    <td>the container's ID if any</td>
                </tr>
            </tbody>
        </table>

        <h4>Examples</h4>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Example</th>
                    <th>Preferred syntax</th>
                </tr>
            </thead>
            <tbody>
                <tr><td><code>POST /hello;#container</code></td><td>-</td></tr>
                <tr><td><code>GET /foo</code></td><td>-</td></tr>
                <tr><td><code>POST ;#container</code></td><td><code>POST @page;#container</code></td></tr>
                <tr><td><code>GET&nbsp;</code></td><td><code>GET @page</code></td></tr>
                <tr><td><code>/bar;#container</code></td><td>-</td></tr>
                <tr><td><code>/foobar</code></td><td>-</td></tr>
                <tr><td><code>;#container</code></td><td><code>@page;#container</code></td></tr>
                <tr><td>an empty string</td><td><code>@page</code></td></tr>
            </tbody>
        </table>

    </div>

{% endblock %}
