{% extends 'ImaticViewBundle:Demo/Ajaxify:layout.html.twig' %}

{% block action %}

    <h1>AJAXIFY Component</h1>

    <p>
        The AJAXIFY component is a javascript solution that provides simple
        way to convert existing HTML markup into XHR driven components.
    </p>

    <h2>Loading dedicated content</h2>

    <a data-target="#test-container" href="{{ path('imatic_view_demo_ajaxify_ajaxtest') }}">load</a>
    <div id="test-container" data-role="container">
        initial
    </div>


    <h2>Link inside a container, loading current page</h2>
    <div id="test-container2" data-role="container">
        <a href="{{ path('imatic_view_demo_ajaxify_index') }}">reload</a>
        {{ value }}
    </div>


    <h2>Link to modal</h2>
    <a
        href="{{ path('imatic_view_demo_ajaxify_ajaxtest2') }}"
        data-modal-footer="#test-footer"
        data-modal-title="h1"
        data-target="modal"
    >
        modal
    </a>


    <h2>Form</h2>
    <div data-role="container" id="form-container">
        <form method="post">
            <input type="submit">
            {{ value }}
        </form>
    </div>

{% endblock %}