{% macro action(action, context) %}
    {{ imatic_view_action_create(imatic_view_action(action), context)|raw }}
{% endmacro %}

{% macro button(action, context) %}{% spaceless %}
    {% set action = imatic_view_action(action) %}
    {% if imatic_view_condition_evaluate(action.condition|default(''), context|default({})) %}
        {% set element = imatic_view_action_create(action, context) %}
        {% if action.nested is not empty %}
            {{ _self._nested(element, action, context) }}
        {% else %}
            {{ _self._button(element, action) }}
        {% endif %}
    {% endif %}
{% endspaceless %}{% endmacro %}

{% macro _button(element, action) %}{% spaceless %}
    {% do element.classes.add('btn btn-' ~ action.type | default('default')) %}
    {{ element|raw }}
{% endspaceless %}{% endmacro %}

{% macro _nested(element, action, context) %}
    <div class="btn-group">
        {% if action.url is not empty or action.route is not empty %}
            {{ _self._button(element, action) }}
            <button type="button"
                    class="btn btn-{{ action.type | default('default') }} dropdown-toggle"
                    data-toggle="dropdown">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
        {% else %}
            {% do element.setValue(action.label ~ ' <span class="caret"></span>') %}
            {% do element.data.set('toggle', 'dropdown') %}
            {% do element.classes.add('dropdown-toggle') %}
            {{ _self._button(element, action) }}
        {% endif %}
        <ul class="dropdown-menu" role="menu">
            {% for nested in action.nested %}
                {% if imatic_view_condition_evaluate(nested.condition|default(''), context|default({})) %}
                    <li>{{ _self.action(nested, context) }}</li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endmacro %}

{% macro group(buttons, context) %}{% spaceless %}
    <div class="btn-group">
        {% for button in buttons %}
            {{ _self.button(button, context) }}
        {% endfor %}
    </div>
{% endspaceless %}{% endmacro %}

{% macro toolbar(buttonGroups, context) %}{% spaceless %}
    <div class="btn-toolbar" role="toolbar">
        {% for buttons in buttonGroups %}
            {{ _self.group(buttons, context) }}
        {% endfor %}
    </div>
{% endspaceless %}{% endmacro %}

{# todo:
- role(s)
- method (asi pres data => neresit)
- size (lg, sm, ..)

- block (true|false)
- disabled (true|false)
- tag (a|button|input)
- separators
- headers?
#}