{% macro action(action, context) %}
    {{ imatic_view_action_create(imatic_view_action(action), context)|raw }}
{% endmacro %}

{% macro button(action, context) %}{% spaceless %}
    {% set action = imatic_view_action(action) %}
    {% set element = imatic_view_action_create(action, context) %}
    {% if action.nested is not empty %}
        {{ _self._nested(element, action, context) }}
    {% else %}
        {{ _self._button(element, action) }}
    {% endif %}
{% endspaceless %}{% endmacro %}

{% macro _button(element, action) %}{% spaceless %}
    {% do element.classes.add('btn btn-' ~ action.type | default('default')) %}
    {{ element|raw }}
{% endspaceless %}{% endmacro %}

{% macro _nested(element, action) %}
    <div class="btn-group">
        {% if action.url is not empty %}
            {{ _self._button(element, action) }}
            <button type="button"
                    class="btn btn-{{ action.type | default('default') }} dropdown-toggle"
                    data-toggle="dropdown">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
        {% else %}
            {% do element.setValue(action.label ~ ' <span class="caret"></span>') %}
            {% do element.data.set('toggle', 'dropdown') %}
            {% do element.classes.add('dropdown-toggle') %}
            {{ _self._button(element, action) }}
        {% endif %}
        <ul class="dropdown-menu" role="menu">
            {% for nested in action.nested %}
                <li>{{ _self.action(nested) }}</li>
            {% endfor %}
        </ul>
    </div>
{% endmacro %}

{% macro group(buttons) %}{% spaceless %}
    <div class="btn-group">
        {% for button in buttons %}
            {{ _self.button(button) }}
        {% endfor %}
    </div>
{% endspaceless %}{% endmacro %}

{% macro toolbar(buttonGroups) %}{% spaceless %}
    <div class="btn-toolbar" role="toolbar">
        {% for buttons in buttonGroups %}
            {{ _self.group(buttons) }}
        {% endfor %}
    </div>
{% endspaceless %}{% endmacro %}

{# todo:
- route + params (route: user_show, params: {'id': '~id'})
- role(s)
- method (asi pres data => neresit)
- size (lg, sm, ..)
- config validation

- block (true|false)
- disabled (true|false)
- tag (a|button|input)
- separators
- headers?
#}