{#
    variables:
    - uri: uri for generating form filter action (default current uri)
    - display_criteria or filter
#}
{% block filter %}
    {% spaceless %}
        {% set uri = uri|default(app.request.uri) %}
        {% set uri = imatic_view_update_filter_url(uri) %}
        {% if filter is not defined and display_criteria is defined %}
            {% set filter = display_criteria.filter %}
        {% endif %}

        {% if filter is defined and filter.form is not empty %}
            {% set form = filter.form.createView() %}
        {% endif %}
        {% if form is defined %}
            <div class="imatic-view-filter">
                <fieldset>
                    <legend data-toggle=".imatic-view-filter-content">{{ 'Filter'|transchoice(filter.boundCount, {'%count%': filter.boundCount}, 'ImaticViewBundle') }}</legend>
                    <div class="imatic-view-filter-content">
                        {{ form_start(form, {action: uri, method: 'get'}) }}
                        {% for field in form if field.vars.name != 'clearFilter' %}
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label for="{{ field.value.vars.id }}">{{ field.vars.name|humanize|trans({}, filter.translationDomain) }}</label>
                                </div>
                                <div class="col-md-2">
                                    {% if field.operator is defined %}
                                        {{ form_widget(field.operator, {horizontal: false}) }}
                                    {% endif %}
                                </div>
                                <div class="col-md-8">
                                    {{ form_widget(field.value, {horizontal: false}) }}
                                </div>
                            </div>
                        {% endfor %}
                        <div class="form-group row">
                            <div class="col-md-12">
                                <div class="btn-group">
                                    <button type="submit" class="btn btn-primary">
                                        {{ 'Do filter'|trans({}, 'ImaticViewBundle') }}
                                    </button>

                                    {{ form_widget(form.clearFilter, {
                                    label: 'Reset filter',
                                    translation_domain: 'ImaticViewBundle',
                                    attr: { class: 'btn btn-default' }
                                    }) }}

                                    {% if filter.hasDefaults %}
                                        <a href="{{ uri }}"
                                           class="btn btn-default">{{ 'Default filter'|trans({}, 'ImaticViewBundle') }}</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {{ form_end(form) }}
                        {{ form_javascript(form) }}
                    </div>
                </fieldset>
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock %}
