{#
    variables:
    - uri: uri for generating form filter action (default current uri)
    - display_criteria or filter
#}
{% block filter %}
    {% spaceless %}
        {% set uri = uri|default(app.request.uri) %}
        {% set uri = imatic_view_update_filter_url(uri) %}
        {% if filter is not defined and display_criteria is defined %}
            {% set filter = display_criteria.filter %}
        {% endif %}

        {% if filter is defined and filter.form is not empty %}
            {% set form = filter.form.createView() %}
        {% endif %}
        {% if form is defined %}
            <div class="imatic-view-filter">
                <fieldset>
                    <legend data-toggle=".imatic-view-filter-content">{{ 'Filter'|transchoice(filter.boundCount, {'%count%': filter.boundCount}, 'ImaticViewBundle') }}</legend>
                    <div class="imatic-view-filter-content">
                        {{ form_start(form, {action: uri, method: 'get'}) }}
                        {% for field in form %}
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label for="{{ field.value.vars.id }}">{{ field.vars.name|humanize|trans({}, field.value.vars.translation_domain) }}</label>
                                </div>
                                <div class="col-md-2">
                                    {% if field.operator is defined %}
                                        {{ form_widget(field.operator, {horizontal: false}) }}
                                    {% endif %}
                                </div>
                                <div class="col-md-8">
                                    {{ form_widget(field.value, {horizontal: false}) }}
                                </div>
                            </div>
                        {% endfor %}
                        <div class="form-group row">
                            <div class="col-md-12">
                                <input type="submit"
                                       value="{{ 'Do filter'|trans({}, 'ImaticViewBundle') }}"
                                       class="btn btn-primary">

                                <a href="{{ uri }}" class="btn">{{ 'Reset filter'|trans({}, 'ImaticViewBundle') }}</a>
                            </div>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </fieldset>
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock %}
