{% set pager = display_criteria.pager %}
{% if pager.haveToPaginate() %}
    {% set pageLimit = pager.getLimit() %}
    {% set limitKey = constant('Imatic\\Bundle\\DataBundle\\Data\\Query\\DisplayCriteria\\Reader\\DisplayCriteriaReader::LIMIT') %}
    {% set limitParam = (component_id is defined
        ? component_id ~ '[' ~ limitKey ~ ']'
        : limitKey
    )|url_encode %}
    <div class="form-inline justify-content-end">
        <div class="form-group">
            <span class="mr-2">
                {{ 'page_limit_label' | trans({}, 'ImaticViewBundleComponent') }}:
            </span>
            <ul class="pagination justify-content-center pb-1">
            {% for i in limits %}
                <li class="page-item{% if pageLimit == i %} active{% endif %}">
                    {% if pageLimit == i %}
                        <span class="page-link">{{ i }}</span>
                    {% else %}
                        <a
                            class="page-link"
                            href="{{ imatic_view_update_pager_url(
                                app.request.uri,
                                pager.getFirstPage(),
                                component_id|default(none))
                            }}&{{ limitParam }}={{ i }}"
                        >{{ i }}</a>
                    {% endif %}
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}
