{#
    variables:
    - uri: uri for generating pager, filter and sorter links (default current uri)
    - display_criteria or pager
#}
{% block pager %}
    {% set uri = uri|default(app.request.uri) %}
    {% if pager is not defined and display_criteria is defined %}
        {% set pager = display_criteria.pager %}
    {% endif %}

    {% spaceless %}
        {% if pager is defined and pager.haveToPaginate %}
            <ul class="pagination">
                <li class="{% if pager.isFirstPage() %}disabled{% endif %}">
                    <a href="{{ imatic_view_update_pager_url(uri, pager.getFirstPage()) }}"
                       title="{{ 'first'|trans({}, 'ImaticViewBundleComponent') }}">|&laquo;</a>
                </li>
                <li class="{% if pager.isFirstPage() %}disabled{% endif %}">
                    <a href="{{ imatic_view_update_pager_url(uri, pager.getPreviousPage()) }}"
                       title="{{ 'prev'|trans({}, 'ImaticViewBundleComponent') }}">&laquo;</a>
                </li>
                {% for page in pager.links %}
                    <li class="{% if pager.isCurrentPage(page) %}active{% endif %}">
                        <a href="{{ imatic_view_update_pager_url(uri, page) }}">{{ page }}
                            {% if pager.isCurrentPage(page) %}
                                <span class="sr-only">({{ 'current' | trans({}, 'ImaticViewBundleComponent') }})</span>
                            {% endif %}
                        </a>
                    </li>
                {% endfor %}
                <li class="{% if pager.isLastPage() %}disabled{% endif %}">
                    <a href="{{ imatic_view_update_pager_url(uri, pager.getNextPage()) }}"
                       title="{{ 'next'|trans({}, 'ImaticViewBundleComponent') }}">&raquo;</a>
                </li>
                <li class="{% if pager.isLastPage() %}disabled{% endif %}">
                    <a href="{{ imatic_view_update_pager_url(uri, pager.getLastPage()) }}"
                       title="{{ 'last'|trans({}, 'ImaticViewBundleComponent') }}">&raquo;|</a>
                </li>
            </ul>
        {% endif %}
    {% endspaceless %}
{% endblock %}
