{#
    variables:
    - items: table rows (array of objects or hashes)
    - columns: table columns (Imatic\Bundle\ViewBundle\Templating\Grid\ColumnOptions)
    - table: table configuration (Imatic\Bundle\ViewBundle\Templating\Grid\TableOptions)
    - uri: uri for generating pager, filter and sorter links (default current uri)
    - display_criteria or pager, filter, sorter
#}

{% import 'ImaticViewBundle:Component:button.html.twig' as button %}

{% block table %}
    {% set table   = imatic_view_table(table | default([])) %}
    {% set columns = imatic_view_table_columns(columns | default([])) %}
    {% set uri = uri|default(app.request.uri) %}
    {% if sorter is not defined and display_criteria is defined %}
        {% set sorter = display_criteria.sorter %}
    {% endif %}

    {% spaceless %}
        <div {{ table.attr|imatic_html_attributes({class: 'imatic-view-table table-responsive'}) }}>

        {{ include('ImaticViewBundle:Component:filter.html.twig') }}

        {% for action in table.actions %}
            {{ button.button(action) }}
        {% endfor %}

        {% if table.batchActions is not empty %}
            <form action="{{ uri }}" method="post">
        {% endif %}

        <table class="table">
            <caption></caption>
            {% block table_head %}
                <thead>
                <tr>
                    {% if table.selectable %}
                        <th>
                        </th>
                    {% endif %}
                    {% for column in columns %}
                        {% block table_column_header %}
                            <th class="{{ column.format }} {{ column.class }}">
                                {% if sorter is defined and column.sortable %}
                                <a href="{{ imatic_view_update_sorter_url(uri, column.name, sorter.reverseDirection(column.name, true)) }}"
                                   class="{{ sorter.sorted(column.name) ? 'sorted '~sorter.direction(column.name, true) : '' }}">
                                    {% endif %}
                                    {{ column.label|humanize|trans({}, table.translationDomain) }}
                                    {% if sorter is defined and column.sortable %}
                                </a>
                                {% endif %}
                            </th>
                        {% endblock %}
                    {% endfor %}
                    {% if table.rowActions is not empty %}
                        <th>{{ 'Actions'|trans({}, 'ImaticViewBundle') }}</th>
                    {% endif %}
                </tr>
                </thead>
            {% endblock %}
            {% block table_body %}
                <tbody>
                {% for item in items %}
                    {% block table_row %}
                        <tr>
                            {# da se vygenerovat na zacatku a tady jen replacnout ID #}
                            {% block table_row_select %}
                                {% if table.selectable %}
                                    <td>
                                        <input type="checkbox"
                                               name="selected[]"
                                               value="{{ attribute(item, table.selectableColumn) }}">
                                    </td>
                                {% endif %}
                            {% endblock %}
                            {% block table_row_values %}
                                {% for column in columns %}
                                    <td class="{{ column.format }} {{ column.class }}">
                                        {{ imatic_view_render_value(item, column.propertyPath, column.format, column.formatOptions) }}
                                    </td>
                                {% endfor %}
                            {% endblock %}
                            {# da se vygenerovat na zacatku a tady jen replacnout ID #}
                            {% block table_row_actions %}
                                {% if table.rowActions is not empty %}
                                    <td class="actions">
                                        {{ button.group(table.rowActions, {item: item}) }}
                                    </td>
                                {% endif %}
                            {% endblock %}
                        </tr>
                    {% endblock %}
                {% endfor %}
                </tbody>
            {% endblock %}
        </table>

        {% if table.batchActions is not empty %}
            {% for action in table.batchActions %}
                {% do action.set('tag', 'input') %}
            {% endfor %}
            {{ button.group(table.batchActions) }}
            </form>
        {% endif %}
    {% endspaceless %}
    {{ include('ImaticViewBundle:Component:pager.html.twig') }}
    </div>
{% endblock %}