{#
    variables:
    - items: table rows (array of objects or hashes)
    - columns: table columns (Imatic\Bundle\ViewBundle\Templating\Grid\ColumnOptions)
    - table: table configuration (Imatic\Bundle\ViewBundle\Templating\Grid\TableOptions)
#}

{% import 'ImaticViewBundle:Component:button.html.twig' as button %}

{% block table %}
    {% set table   = imatic_view_table(table | default([])) %}
    {% set columns = imatic_view_table_columns(columns | default([])) %}

    {% spaceless %}
        <div class="imatic-view-table table-responsive">
        <table class="table">
            <caption></caption>
            {% block table_head %}
                <thead>
                <tr>
                    {% if table.selectable %}
                        <th>
                        </th>
                    {% endif %}
                    {% for column in columns %}
                        <th class="{{ column.format }} {{ column.class }}">{{ column.name }}</th>
                    {% endfor %}
                    {% if table.actions is not empty %}
                        <th>actions</th>
                    {% endif %}
                </tr>
                </thead>
            {% endblock %}
            {% block table_body %}
                <tbody>
                {% for item in items %}
                    {% block table_row %}
                        <tr>
                            {# da se vygenerovat na zacatku a tady jen replacnout ID #}
                            {% block table_row_select %}
                                {% if table.selectable %}
                                    <td>
                                        <input type="checkbox"
                                               name="selected[]"
                                               value="{{ attribute(item, table.selectableColumn) }}">
                                    </td>
                                {% endif %}
                            {% endblock %}
                            {% block table_row_values %}
                                {% for column in columns %}
                                    <td class="{{ column.format }} {{ column.class }}">
                                        {{ imatic_view_render_value(item, column.propertyPath, column.format, column.formatOptions) }}
                                    </td>
                                {% endfor %}
                            {% endblock %}
                            {# da se vygenerovat na zacatku a tady jen replacnout ID #}
                            {% block table_row_actions %}
                                {% if table.actions is not empty %}
                                    <td class="actions">
                                        {{ button.group(table.actions, {item: item}) }}
                                    </td>
                                {% endif %}
                            {% endblock %}
                        </tr>
                    {% endblock %}
                {% endfor %}
                </tbody>
            {% endblock %}
        </table>
    {% endspaceless %}
    {{ include('ImaticViewBundle:Component:pager.html.twig') }}
    </div>
{% endblock %}