<div class="imatic-view-tabs">
    {% set id = 'tabs-' ~ id | default(random()) %}
    {% block tabs %}
        {% block tabs_nav %}
            <ul id="{{ id }}" class="nav nav-tabs" role="tablist">
                {% for tab_name, tab in tabs %}
                    <li class="nav-item">
                        <a href="#tabpanel-{{ id }}-{{ tab_name }}"
                           id="tab-{{ id }}-{{ tab_name }}"
                           role="tab"
                           class="nav-link{{ tab.active | default('') ? ' active' }}{{ tab.disabled | default('') ? ' disabled' }}"
                           data-toggle="tab"
                           aria-controls="tabpanel-{{ id }}-{{ tab_name }}"
                           aria-selected="{{ tab.active|default(false) ? 'true' : 'false' }}"
                        >
                            {{ tab.label }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endblock %}
        {% block tabs_pannels %}
            <div class="tab-content">
                {% for tab_name, tab in tabs %}
                    <div class="tab-pane fade{{ tab.active | default('') ? ' show active' }}"
                         id="tabpanel-{{ id }}-{{ tab_name }}"
                         role="tabpanel"
                         aria-labelledby="tab-{{ id }}-{{ tab_name }}"
                    >
                        {{ block(tab_name) }}
                    </div>
                {% endfor %}
            </div>
        {% endblock %}
    {% endblock %}
    <script>
        $('#{{ id }} a').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
        });

        {% set has_active_tab = false %}
        {% for tab_name, tab in tabs %}
            {% if tab.active | default(false) %}
                {% set has_active_tab = true %}
            {% endif %}
        {% endfor %}
        {% if not has_active_tab %}
            $('#{{ id }} a:first').tab('show');
        {% endif %}
    </script>
</div>
